<div class="wrapper">
  <h1>Question 1</h1>
  <p>Sed si ille hac tam eximia fortuna propter utilitatem rei publicae frui non properat, ut omnia illa conficiat, quid ego, senator, facere debeo, quem, etiamsi ille aliud vellet, rei publicae consulere oporteret?
  </p>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-6">
      <div class="card" style="width:500px;height:500px;background:url('http://via.placeholder.com/500x500');">
        <%= link_to 'Into The Wild?', project_moods_path(@project, wild: true), method: 'post' %>
      </div>
    </div>
    <div class="col-xs-6">
      <div class="card" style="width:500px;height:500px;background:url('http://via.placeholder.com/500x500');">
        <%= link_to 'City?', project_moods_path(@project, city: true), method: 'post' %>
      </div>
    </div>
  </div>
</div>
