<p>Howdy,</p>
<p>You're receiving this email because you've been invited to <strong><%= @project.name.capitalize %></strong> by <%= @admin.first_name.capitalize %>.</p>
<p>Ready to party with your friends? Go and log in at <a href="http://www.harry.team/users/sign_in">harry.team</a>.</p>
<p>Your password is <strong>welcometoharry</strong>. Change it as soon as you log in.</p>
<p>All the best,</p>
<p>the Harry's team.</p>
