// Specific CSS for your home-page
.banner {
  //background-image: linear-gradient(rgba(18,18,18, 0.37), rgba(18,18,18, 0.20)), image-url("friends6bisbis.jpg") ;
  color: white;
  height: calc(100vh - 70px);
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover;
  display: flex;
  flex-direction: column;
  position: relative;
  h1 {
  font-size: 80px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  padding: 70px;
  padding-top: 150px;
  }
  a {
    width: 250px;
    margin-left: 70px;
  }
}

.banner-filter {
  background: rgba(0,0,0,0.3);
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1000;

}

#home-description{
display: flex;
justify-content: space-around;
height: 700px;

}

#home-spec{
margin-top: 80px;
width: 360px;
height: 300px;
font-size: 17px;
color: #515055;
p {
  font-size: 17px;
}
}

.home-icon {
padding: 0 30px;
}

#home-calculate {
  display: flex;
  margin-bottom: 50px;
  img{
    height: 50px;
  }
}
#home-date {
  display: flex;
  margin-bottom: 50px;
  img{
    height: 50px;
  }
}
#home-activities{
  display: flex;
  margin-bottom: 50px;
  img{
    height: 50px;
  }
}
#home-evaluation{
  display: flex;
  margin-bottom: 50px;
  img{
    height: 50px;
  }
}


#home-illustration{
  width: 550px;
 img{
    height: 400px;
  }
  h2{
    margin-top: 100px;
    color: $violet;
    justify-content: right;
    font-size: 46px;
    text-align: right;

  }
}
.home-review{
display: flex;
justify-content: space-around;
margin-top: 40px;
margin-bottom: 40px;
}
.home-img-intermediate-size {
flex: 0 0 10%;
img{
width: 85%
}
}

#cta {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 100px;
}

.call-to-action{
  text-align: center;
  h4 {
    padding-bottom: 10px;
  }
  a {
    padding: 5px 80px;
  }
}
.card {
  height: 200px;
  width: 340px;
  padding: 10px;
  color: white;
  position: relative;
  background-color: #C4C4C4;
  border-radius: 5px;
  box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.4);
}

.card-stars {
  color: #FECA44;
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 15px;
  text-transform: uppercase;
}
.card-description {
  bottom: 10px;
  left: 10px;
}
.card-description h2 {
  font-size: 24px;
}
.card-description p {
  font-size: 14px;
  color: black;
}

.card-user {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 40px;
  border-radius: 50%;
  img{
    width: 100%;
  }
}

#reviews-block {
  padding: 20px 50px;
  h2 {
    color: $violet;
  }
}



