#banner_results {
  color: black;
  background-color: #707070;
  height: calc(100vh - 70px);
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
}

#results_modal {
  height: 80%;
  width: 65%;
  background-color: white;
  opacity: 1;
  margin: 20px;
  padding: 40px 100px;
  text-align: center;
  border-radius: 5px;
  box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.4);
    h1{
      font-size:36px;
      margin: auto;
    }
    h2{
      margin: 8px;
      font-size: 20px;
    }
    h3 {
      margin: 10px;
      margin-bottom: 30px;
      font-size: 16px;
    }
    img {
      width: 20%;
    }
    a {
      width: 250px;
    }
  }

#results_title{
    margin: 5px;
}

#results_logo {
  margin: auto;
  width: 45%;
}

#results_avatar{
  margin: 10px;
  img{
    margin-left:-1%;
    margin-right: -1%;
    width:7%
  }
}

.final-destination {
  margin: 10px;
}

.day-activity_align {
  display: flex;
}

.night-activity_align {
  display: inline-flex;
}

.results-we-budget{
  display: inline-flex;
}

#weekend-option {
  margin: 10px;
  width: 190px;
}
