.banner-step2{
display: flex;
flex-direction: column;
background-image: linear-gradient(rgba(18,18,18, 0.37), rgba(18,18,18, 0.20)), image-url("boys.jpg") ;
height: 50vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
background-size: cover;
h1 {
  margin: 0;
  color: white;
  margin: 20px;
  }
img{
  width: 7%;
  }
}

.avatar-step2{
  margin: 20px;
}
.step2-description{
  display: flex;
  flex-direction: row;

}

.step2-text{
  margin-left: 80px;

}

.step2-moods{
  text-align: center;

img{
  width: 30%;
}

}

.btn-step2 {
width: 20%;
position: relative;
right: -790px;
}

