.banner-step2{
display: flex;
flex-direction: column;
background-image: linear-gradient(rgba(18,18,18, 0.37), rgba(18,18,18, 0.20)), image-url("boys.jpg") ;
height: 50vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
background-size: cover;
h1 {
  margin: 0;
  color: white;
  margin: 20px;
  }
img{
  width: 7%;
  }
}
.banner-wrapper{

}

.results-budget{
  position: relative;
  left: 1100px;
  top: 0px;
  margin-bottom: 5px;
  color: white;
  img{
    width: 3%;
  }
}
.results-date{
  position: relative;
  left: 1060px;
  top: 0px;
  color: white;
  img{
    width: 3%;
  }

}

.step2-moods-wrapper{
display: flex;
}
.avatar-step2{
  margin: 20px;
}
.step2-description{
  display: flex;
  flex-direction: row;

}

.step2-text{
  margin-left: 80px;

}

.step2-moods{
  text-align: center;

img{
  width: 30%;
}

}

.step2-images{
  img{
border-radius: 3px;
width: 75%;
  }
}

.btn-step2 {
width: 20%;
position: relative;
right: -790px;
bottom: 30px;
a{
text-decoration: none;
color: white;
a:hover{
  text-decoration: none;
  color: white;
  }
  }
}

