#votes-rows {
  border-bottom: 1px solid $violet;
  padding: 30px 20px;
  p {
    font-size: 14px;
    color: white;
    position:relative;
    margin: 0;
  }
  h4 {
    margin: 5px;
    border-bottom: 5px solid $violet;
  }
}

#activity {
  padding: 20px;
}

a {
  color: white !important;
  text-decoration: none !important;
}

.badge-vote {
  padding-left: 10px;
  padding-right: 10px;
  position: absolute;
  top: -16px;
  right: -61px;
  z-index: 2;

}

#ideas-results {
  position: relative;
}

#title-votes {
  height: 50px;
  h2 {
    color: $violet;
    padding: 20px 50px;
    margin: 0;
    margin-top: 20px;
  }
}

#ideas-count {
  color: gray;
  font-size: 14px;
}
