
#background-waiting {
  align-items: center;
  background-color: #7269CC;
  height: 100vh;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  h1 {
    font-size: 60px;
  }
}


