// Import your layouts CSS files here.
// Examples:
// @import "dashboard";
// @import "profile";
// @import "map";


body {
  font-family: Lato;
  background-color: white;
  h1 {
  font-family: questrial;
  }
  h2 {
    font-family: questrial;
  }
  h3 {
    font-family: questrial;
  }
  h4 {
    font-family: questrial;
  }
  h5 {
    font-family: questrial;
  }
}
