
.button_primary {
  background: #7269CC;
  color: white;
  border: 1px solid #7269CC;
  border-radius: 15px;
  height: 50px;
  width:150px;
  a:hover{
  text-decoration: none;
  color: none;
  }
}


.button_secondary {
  background: #515055;
  color: white;
  border: 1px solid #515055;
  border-radius: 15px;
  height: 30px;
  width:200px;
  text-align: center;
  a:hover{
  text-decoration: none;
  }
}



