.signupcontainer {
  background-color: #EDEBEB;
  position: relative;
  width: 500px;
  height: 90%;
  opacity: 1;
  margin: auto;
  padding: 40px 80px;
  text-align: center;
  border-radius: 5px;
  box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.4);
  .form-inputs{
    margin-top:20px;
    margin-bottom: 40px;
  }
  h2 {
    margin: 10px;
  }
}

#sign_up_btn {
background: #7269CC;
margin-bottom: 5px;
}

.formcolor{
  color:black;
}

.link{
  color:black;
}

#logo {
  img {
    height: 70px;
  }
}

.logincontainer {
  background-color: #EDEBEB;
  position: relative;
  width: 500px;
  height: 90%;
  opacity: 1;
  margin: auto;
  padding: 40px;
  text-align: center;
  border-radius: 5px;
  box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.4);
  .form-inputs{
    margin-top:40px;
    margin-bottom: 40px;
  }
  .form-actions{
  margin-bottom:5px;
  }
}

.formbanner {
  background-image: linear-gradient(rgba(0,0,0, 0.6), rgba(0,0,0, 0.6)), image-url("friends6bisbis.jpg") ;
  color: black;
  height: calc(100vh - 70px);
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover;
  padding: 2em;
  h1 {
  width: 50%;
  font-size: 80px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  margin-bottom: 40px;
  }
  a {
    width: 250px;
  }
}

.loginbanner {
background-image: linear-gradient(rgba(0,0,0, 0.6), rgba(0,0,0, 0.6)), image-url("friends6bisbis.jpg") ;
  color: black;
  height: calc(100vh - 70px);
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover;
  padding: 2em;
  h1 {
  width: 50%;
  font-size: 80px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  margin-bottom: 40px;
  }
  a {
    width: 250px;
  }
}

#close_btn_signup {
  position: absolute;
  right: -90px;
  top: 15px;
  color:black;
  opacity: 0.7;
}

#close_btn_login {
  position: absolute;
  right: -115px;
  top: -20px;
  color:black;
  opacity: 0.7;
}

#user_first_name, #user_email, #user_password, #user_password_confirmation {
  border: 1px solid $violet;
  border-radius: 3px;
  font-family: Questrial;
  font-size: 15px;
  background: white;
}

.text-muted {
  font-size: 15px;
  font-family: Questrial;
}

.form-actions {
  margin-top: 0px;
  font-size: 15px;
}

#upload-info {
  color:#7269CC;
}

