.signupcontainer {
  background-color: white;
  width: 500px;
  height: 740px;
  opacity: 1;
  margin: 10px;
  padding: 20px;
}

#sign_up_btn {
background: #7269CC;
margin-bottom: 5px;
}

.form_input{
  color:#7269CC;
}

.link{
  color:#7269CC;
}


#useremoji {
  color: #7269CC;
  margin-left: 10px;
}

body h2 {
  color: #7269CC;
}

#logo {
  img {
    height: 100px;
  }
}

.logincontainer {
  background-color: white;
  width: 500px;
  height: 540px;
  opacity: 1;
  margin: 10px;
  padding: 20px;
}
